{
  "development": {
    "username": "root",
    "password": null,
    "database": "database_dev",
    "host": "127.0.0.1",
    "port": "3306",
    "logging": true,
    "salt": null,
    "salt_rounds": null,
    "dialect": "mysql"
  },
  "test": {
    "username": null,
    "password": null,
    "database": "database_test",
    "host": null,
    "logging": true,
    "dialect": "sqlite"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1"
  }
}
